/**
 * We operate the CSS files for Channel&GroupChannel modules in the GroupChannel.
 * So keep in mind that you should consider both components when you make changes in this file.
 */
@import '../../../../styles/variables';

.sendbird-conversation__messages {
  position: relative;
  .sendbird-conversation__messages-padding {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    padding: 0px 24px;
    @include mobile() {
      padding: 0px 12px;
    }
  }
  .sendbird-separator,
  .sendbird-admin-message {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.sendbird-conversation__messages__notification {
  position: fixed;
  top: 0px;
  width: calc(100% - 50px);
  margin-left: 25px;
}

.sendbird-conversation__scroll-bottom-button {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 30px;
  left: calc(100% - 65px);
  width: 40px;
  height: 40px;
  border-radius: 24px;
  @include themed() {
    background-color: t(bg--0-4);
    box-shadow: t(shadow-gradient-5);
  }
  &:hover {
    cursor: pointer;
    @include themed() {
      background-color: t(bg--1-5);
    }
  }
  &:active {
    @include themed() {
      background-color: t(bg--2-7);
    }
  }
  &:focus {
    outline: none;
  }
}
