@import '../../styles/variables';

.sendbird-fileviewer__header__right__actions__download,
.sendbird-fileviewer__header__right__actions__delete,
.sendbird-fileviewer__header__right__actions__close {
  width: 64px;
  padding: 21px;
  box-sizing: border-box;
  cursor: pointer;
  .disabled {
    cursor: not-allowed;
  }
}

.sendbird-fileviewer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  @include themed() {
    background-color: t(bg-0);
  }

  .sendbird-fileviewer__header {
    height: 64px;
    min-height: 64px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    @include themed() {
      border-bottom: 1px solid t(on-bg-4);
    }

    .sendbird-fileviewer__header__left {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 64px;
      padding: 16px 20px;
  
      .sendbird-fileviewer__header__left__avatar {
        margin-right: 8px;
      }
  
      .sendbird-fileviewer__header__left__filename {
        max-width: 500px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
      }
  
      .sendbird-fileviewer__header__left__sender-name {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-flex;
        margin-left: 8px;
        padding-top: 5px;
      }
    }
  
    .sendbird-fileviewer__header__right {
      display: flex;
      width: 160px;
      justify-content: flex-end;
  
      .sendbird-fileviewer__header__right__actions {
        right: 0;
        display: flex;
        flex-direction: row;
      }
      .sendbird-fileviewer__header__right__actions__close {
        @include themed() {
          border-left: 1px solid t(on-bg-4);
        }
      }
    }
  }

  .sendbird-fileviewer__content {
    position: relative;
    height: calc(100% - 72px);
    margin-top: 8px;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .sendbird-fileviewer__content__video {
      max-width: 100%;
      max-height: 100%;
    }
    .sendbird-fileviewer__content__img {
      max-width: 90%;
      max-height: 90%;
    }
    .sendbird-fileviewer__content__img__multi {
      max-width: calc(100% - 64px - 56px);
      max-height: calc(100% - 64px - 56px);
      @include mobile() {
        max-width: 100%;
        max-height:100%;
      }
    }
    .sendbird-fileviewer__content__unsupported {
      max-width: 100%;
      max-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.sendbird-file-viewer-arrow--left,
.sendbird-file-viewer-arrow--right {
  cursor: pointer;
  position: absolute;
  height: 32px;
  width: 32px;
  top: calc(50% - 16px);
  &:hover {
    border-radius: 50%;
    background-color: rgb(98, 144, 144);
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px rgb(98, 144, 144);
  }
}

.sendbird-file-viewer-arrow--left {
  left: 14px;
}

.sendbird-file-viewer-arrow--right {
  right: 14px;
  transform: rotate(180deg);
}
