@import '../../../../styles/variables';

.sendbird-create-channel--content {
  width: 480px;
  max-height: 552px;
}

.sendbird-create-channel--scroll {
  height: 360px;
  overflow-y: auto;
  @include mobile() {
    height: calc(100vh - 200px);
    height: calc(calc(var(--sendbird-vh, 1vh) * 100) - 200px);
  }
}
