.community-app {
  display: flex;
  flex-direction: row;
  height: 99vh;
  * {
    font-family: var(--sendbird-font-family-default);
  }

  .community-app {
    flex: 1;
  }

  .channel-list {
    background-color: var(--bg-0);
    border-right: 1px solid var(--gray-1);
  }

  .community-open-channel {
    flex: 1;
    background-color: var(--bg-0);
  }
}
