@import '../../styles/variables';

.sendbird-openchannel-app {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;

  .sendbird-openchannel-app__channel {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .sendbird-openchannel-app__settings {
    position: relative;
    top: 0px;
    right: 0px;
    height: 100%;
  }
}
