.storybook-theme {
  --sendbird-light-primary-500: #a91409;
  --sendbird-light-primary-400: #e11a0c;
  --sendbird-light-primary-300: #f44336;
  --sendbird-light-primary-200: #fbb3ae;
  --sendbird-light-primary-100: #fef4f3;
}

// .storybook-theme-ie {
//   --sendbird-light-primary-500: #2e6830;
//   --sendbird-light-primary-400: #3d8b40;
//   --sendbird-light-primary-300: #4caf50;
//   --sendbird-light-primary-200: #93cf95;
//   --sendbird-light-primary-100: #dbefdc;
// }

// .storybook-theme-use-config {
// --sendbird-light-primary-500: #00487c;
// --sendbird-light-primary-400: #4bb3fd;
// --sendbird-light-primary-300: #3e6680;
// --sendbird-light-primary-200: #0496ff;
// --sendbird-light-primary-100: #027bce;
// }
