@import '../../styles/variables';

.sendbird-file-message-item-body {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 12px;
  align-items: center;
  border-radius: 16px;
  &.reactions {
    border-radius: 16px 16px 0px 0px;
  }
  &.outgoing {
    @include themed() { background-color: t(primary-3) }
  }
  &.incoming {
    @include themed() { background-color: t(bg-1) }
  }

  .sendbird-file-message-item-body__file-icon {
    width: 28px;
    height: 28px;
    min-width: 28px;
    min-height: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 8px;
    @include themed() {
      background-color: t(bg-0);
    }
  }

  .sendbird-file-message-item-body__file-name {
    position: relative;
    top: -6px;
  }
}
