
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# builds
build
dist
.rpt2_cache
release
bundle-analysis.json

# test
/coverage

# misc
.vscode
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/
