@import '../../../../styles/variables';

.sendbird-voice-message-input-wrapper .sendbird-voice-message-input__indicator {
  height: 40px;
}

.sendbird-voice-message-input-wrapper-alert__body {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 74px;
}
.sendbird-voice-message-input-wrapper-alert__body__ok-button {
  width: 74px;
}
