@import '../../styles/variables';

$dot-diameter: 8px;
$duration: 1.4s;
$blinked-scale: 1.2;
$default-opacity: 0.12;
$blinked-opacity: 0.38;

.typing-dots-container {
  align-items: center;
  border-radius: 16px;
  display: flex;
  gap: 6px;
  justify-content: center;
  padding: 16px 12px;

  @include themed() {
    background-color: t(bg--1-4);
  }

  span {

    animation: blink $duration infinite;
    animation-fill-mode: both;
    border-radius: 50%;
    height: $dot-diameter;
    width: $dot-diameter;

    @include themed() {
      background-color: t(bg-7);
    }

    &:nth-child(1) {
      animation-delay: 0.4s;
    }

    &:nth-child(2) {
      animation-delay: 0.6s;
    }

    &:nth-child(3) {
      animation-delay: 0.8s;
    }
  }
}

@keyframes blink {
  0% {
    opacity: $default-opacity;
    transform: scale(1);
  }

  21.43% {
    opacity: $blinked-opacity;
    transform: scale($blinked-scale);
  }

  42.86% {
    opacity: $default-opacity;
    transform: scale(1);
  }

  100% {
    opacity: $default-opacity;
    transform: scale(1);
  }
}
