.sendbird-thread-list-item .sendbird-separator {
  margin: 4px 0px;
}

.sendbird-thread-list .sendbird-message-content__middle__sender-name {
  white-space: nowrap;
  max-width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sendbird-thread-list .sendbird-message-content.incoming .sendbird-message-content__middle {
  max-width: 200px;
}

.sendbird-thread-list .sendbird-thumbnail-message-item-body.outgoing {
  min-width: 200px;
  min-height: 148px;
  height: 148px;
}

.sendbird-thread-list .sendbird-message-content .sendbird-message-content__middle {
  max-width: 230px;
}

.sendbird-thread-list .sendbird-message-status__icon.sendbird-message-status--sent {
  display: none;
}

// SuggestedMentionList
.sendbird-thread-list .sendbird-mention-suggest-list {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
.sendbird-thread-list .sendbird-mention-suggest-list__user-item {
  padding-left: 16px;
  padding-right: 16px;
}
.sendbird-thread-list .sendbird-mention-suggest-list__user-item .sendbird-mention-suggest-list__user-item__nickname {
  max-width: 134px;
}
.sendbird-thread-list .sendbird-mention-suggest-list__user-item .sendbird-mention-suggest-list__user-item__user-id {
  max-width: 46px;
}
