.sendbird-message-content.incoming {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  justify-content: flex-start;
}


.sendbird-message-content-middle {
}