@import '../../styles/variables';

$dot-diameter-default: 8px;
$duration: 1.4s;
$blinked-scale: 1.2;
$default-opacity: .12;
$blinked-opacity: .38;

.typing-dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 12px;
  border-radius: 16px;
  gap: 6px;

  @include themed() {
    background-color: t(bg--1-4);
  }

  span {
    border-radius: 50%;
    height: $dot-diameter-default;
    width: $dot-diameter-default;

    @include themed() {
      background-color: t(bg-7);
    }

    animation: blink $duration infinite;
    animation-fill-mode: both;

    &:nth-child(1) {
      animation-delay: .4s;
    }
    &:nth-child(2) {
      animation-delay: .6s;
    }
    &:nth-child(3) {
      animation-delay: .8s;
    }
  }
}

@keyframes blink {
  0% {
    transform: scale(1);
    opacity: $default-opacity;
  }
  14.3% {
    transform: scale($blinked-scale);
    opacity: $blinked-opacity;
  }
  28.6% {
    transform: scale($blinked-scale);
    opacity: $blinked-opacity;
  }
  42.9% {
    transform: scale(1);
    opacity: $default-opacity;
  }
  100% {
    transform: scale(1);
    opacity: $default-opacity;
  }
}