@import '../../styles/variables';

.sendbird-filesviewer-arrow {
  cursor: pointer;
  margin: 20px;
  top: 50%;

  left {
    left: 0;
  }

  right {
    right: 0;
  }
}

.sendbird-filesviewer-content {
  align-items: center;
  display: flex;
  height: calc(100% - 72px);
  justify-content: space-between;
  margin-top: 8px;
  overflow-y: auto;
  position: relative;
}

.sendbird-filesviewer-image-content {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
