@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700&display=swap');

.sb-message-template__action {
  cursor: pointer;
}
.sb-message-template__parent {
  font-family: 'Roboto';
}
.sendbird-theme--light
.sb-message-template__box {
  background-color: #eee;
}
.sendbird-theme--dark
.sb-message-template__box {
  background-color: #2c2c2c;
}

.sendbird-theme--light
.sb-message-template__text {
  color: rgba(0, 0, 0, 0.88);
}
.sendbird-theme--dark
.sb-message-template__text {
  color: rgba(255, 255, 255, 0.88);
}
.sb-message-template__text {
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
}

.sendbird-theme--light
.sb-message-template__text-button {
  background-color: #e0e0e0;
  color: #742ddd;
}
.sendbird-theme--dark
.sb-message-template__text-button {
  background-color: #393939;
  color: #c2a9fa;
}
.sb-message-template__text-button {
  height: 36px;
  padding: 10px 20px;
  border-radius: 6px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  /* opacity: 0.8; */
}

.sb-message-template__text-button:hover {
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.sb-message-template__text-button,
.sb-message-template__image-button {
  cursor: pointer;
  border-style: none;
}

.sb-message-template__parent {
  border-radius: 8px;
  overflow: hidden;
}
