/*
  We are sharing the same CSS file
  * the same components
    1. `~/modules/GroupChannelList/components/GroupChannelListItem`
    2. `~/modules/ChannelList/components/ChannelPreview`
  So must to keep the same structure with the component when you make a change on the one component of them
*/
@import '../../../../styles/variables';

.sendbird-channel-preview__leave--mobile {
  .sendbird-modal__content {
    max-width: calc(100% - 80px);
  }
  .sendbird-modal__close {
    display: none;
  }
  .sendbird-channel-preview__leave-label--mobile {
    text-decoration: none;
  }
  .sendbird-modal__header span {
    display: inline-block;
    width: calc(100% - 120px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.sendbird__offline .sendbird-channel-preview {
  cursor: not-allowed;
}

.sendbird-channel-preview {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  width: 320px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 16px 12px 16px;
  @include themed() {
    border-bottom: solid 1px t(on-bg-4);
  }
  @include mobile() {
    width: 100%;
  }

  &:focus {
    outline: none;
  }

  .sendbird-channel-preview__avatar {
    width: 56px;
    height: 56px;
  }
  .sendbird-channel-preview__content {
    width: 100%;
    height: 100%;
    margin-left: 16px;
    @include mobile() {
      position: relative;
      max-width: calc(100% - 72px);
    }

    .sendbird-channel-preview__content__upper {
      display: flex;
      justify-content: space-between;
      width: 216px;
      height: 16px;

      @include mobile() {
        width: auto;
      }
      .sendbird-channel-preview__content__upper__header {
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        text-overflow: ellipsis;

        .sendbird-channel-preview__content__upper__header__broadcast-icon {
          padding-right: 4px;
        }
        .sendbird-channel-preview__content__upper__header__channel-name {
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 128px;
          word-break: break-all;
          white-space: nowrap;
        }
        .sendbird-channel-preview__content__upper__header__total-members {
          margin-top: 2px;
          margin-left: 4px;
        }
        .sendbird-channel-preview__content__upper__header__frozen-icon {
          padding-left: 4px;
        }
      }

      .sendbird-channel-preview__content__upper__last-message-at {
        margin-left: 4px;
        margin-bottom: 4px;
        white-space: nowrap;
        &.sendbird-message-status {
          max-width: 74px;
          justify-content: flex-end;
        }
      }
    }

    .sendbird-channel-preview__content__lower {
      margin-top: 8px;
      width: 216px;
      height: 32px;
      display: flex;
      justify-content: space-between;
      @include mobile() {
        width: 100%;
      }

      .sendbird-channel-preview__content__lower__last-message {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .sendbird-channel-preview__content__lower__unread-message-count {
        display: flex;
        align-items: center;
        margin-left: 8px;
        margin-bottom: 12px;
        .sendbird-channel-preview__content__lower__unread-message-count__mention {
          display: inline-flex;
          align-items: center;
          margin-right: 4px;
        }
      }
    }
  }

  .sendbird-channel-preview__action {
    position: absolute;
    top: 12px;
    right: 12px;
    display: inline-block;
    .sendbird-iconbutton {
      display: none;
    }
  }

  &:hover {
    @include themed() {
      background-color: t(bg-1);
    }

    .sendbird-channel-preview__action .sendbird-iconbutton {
      display: inline-block;
    }

    .sendbird-channel-preview__content__upper__last-message-at {
      display: none;
    }

    .sendbird-channel-preview__content__lower__unread-message-count {
      display: none;
    }
  }
}

.sendbird-channel-preview--active {
  @include themed() {
    border-left: solid 4px t(primary-3);
    border-bottom: solid 1px t(on-bg-4);
    background-color: t(primary--1-7);
  }
  padding: 12px 16px 12px 12px;

  .sendbird-channel-preview__content__upper__header__channel-name {
    @include themed() {
      color: t(primary-3);
    }
  }
}

.sendbird-channel-preview__content__lower__unread-message-count {
  @include mobile() {
    position: absolute;
    right: 0;
  }
}
