@import '../../styles/variables';

.sendbird-admin-message {
  display: flex;
  justify-content: center;
  align-items: center;

  .sendbird-admin-message__text {
    display: flex;
    width: 100%;
    word-break: break-word;
  }
}
