@import '../../styles/variables';

.sendbird-user-list-item {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 432px;
  height: 56px;
  @include mobile() {
    width: 100%;
  }
  @include themed() {
    border-bottom: 1px solid t(on-bg-4);
    background-color: t(bg--0-5);
  }

  .sendbird-user-list-item__avatar {
    position: absolute;
    top: 8px;
    left: 0px;
    cursor: pointer;
  }

  .sendbird-muted-avatar {
    position: absolute;
    top: 8px;
    left: 0px;
    pointer-events: none;
  }

  .sendbird-user-list-item__title {
    position: absolute;
    top: 17px;
    left: 56px;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mobile() {
      max-width: 62%;
    }
  }

  .sendbird-user-list-item__subtitle {
    position: absolute;
    top: 23px;
    left: 140px;
    max-width: 237px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mobile() {
      max-width: 40%;
    }
  }

  .sendbird-user-list-item__checkbox {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .sendbird-user-list-item__action {
    position: absolute;
    right: 0;
    top: 10px;
  }

  .sendbird-user-list-item__operator {
    position: absolute;
    right: 40px;
    top: 22px;
    &.checkbox {
      right: 66px;
    }
  }
}
