@import '../../styles/variables';

.sendbird-user-list-item {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 432px;
  height: 56px;
  @include mobile() {
    width: 100%;
  }
  @include themed() {
    border-bottom: 1px solid t(on-bg-4);
    background-color: t(bg--0-5);
  }

  .sendbird-user-list-item__avatar {
    position: absolute;
    top: 8px;
    left: 0px;
    cursor: pointer;
    z-index: 0;
  }

  .sendbird-muted-avatar {
    position: absolute;
    top: 8px;
    left: 0px;
    pointer-events: none;
    z-index: 1;
  }

  .sendbird-user-list-item__title {
    position: absolute;
    top: 17px;
    left: 56px;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mobile() {
      max-width: 62%;
    }
  }

  .sendbird-user-list-item__subtitle {
    position: absolute;
    top: 23px;
    left: 140px;
    max-width: 237px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mobile() {
      max-width: 40%;
    }
  }

  .sendbird-user-list-item__checkbox {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .sendbird-user-list-item__action {
    position: absolute;
    right: 0;
    top: 10px;
  }

  .sendbird-user-list-item__operator {
    position: absolute;
    right: 40px;
    top: 22px;
    &.checkbox {
      right: 66px;
    }
  }
}

.sendbird-user-list-item--small {
  display: block;
  position: relative;
  box-sizing: border-box;
  height: 40px;
  padding-left: 12px;

  .sendbird-user-list-item--small__avatar {
    cursor: pointer;
    position: absolute;
    top: 10px;
  }

  .sendbird-muted-avatar {
    position: absolute;
    top: 10px;
    left: 12px;
    pointer-events: none;
  }

  .sendbird-user-list-item--small__title {
    position: absolute;
    top: 10px;
    left: 54px;
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .sendbird-user-list-item--small__subtitle {
    position: absolute;
    top: 23px;
    left: 140px;
    max-width: 237px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mobile () {
      max-width: 40%;
    }
  }

  .sendbird-user-list-item--small__checkbox {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .sendbird-user-list-item--small__action {
    display: none;
    position: absolute;
    right: 10px;
    top: 4px;
  }

  .sendbird-user-list-item--small__operator {
    position: absolute;
    right: 24px;
    top: 10px;
  }

  &:hover,
  &.sendbird-icon--pressed {
    @include themed() {
      background-color: t(bg-1);
    }
    .sendbird-user-list-item--small__action {
      display: block;
    }

    .sendbird-user-list-item--small__operator {
      display: none;
    }
  }

  &.sendbird-icon--pressed {
    .sendbird-iconbutton {
      @include themed() {
        background-color: t(primary--1-bg--7);
      }
    }
  }
}
