@import '../../styles/variables';

.sendbird-textbutton {
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
}


.sendbird-textbutton--not-underline {
  text-decoration: none;
  cursor: pointer;
}

.sendbird-textbutton--disabled {
  cursor: not-allowed;
  @include themed() {
    color: t(on-bg-3);
  }
}
