@import '../../../styles/variables';

.sendbird-members-accordion {
  padding: 8px 16px 16px 16px;
  position: relative;
  box-sizing: border-box;
  @include themed() {
    border-bottom: 1px solid t(on-bg-4);
    background-color: t(bg-0);
  }

  .sendbird-members-accordion__member {
    position: relative;
    padding: 12px 0px 12px 44px;
    height: 40px;
    box-sizing: border-box;

    .sendbird-label {
      max-width: 240px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .sendbird-members-accordion__member-avatar {
    position: absolute;
    left: 0;
    top: 10px;
    cursor: pointer;
  }

  .sendbird-members-accordion__footer {
    display: flex;
    justify-content: flex-start;
    margin-top: 8px;
    .sendbird-members-accordion__footer__all-members {
      margin-right: 8px;
    }
  }
}

.sendbird-more-members__popup-scroll {
  max-height: 420px;
  overflow-y: auto;
}
