.sendbird-image-renderer {
  overflow: hidden;
  position: relative;
}

.sendbird-image-renderer__hidden-image-loader {
  display: none;
}

.sendbird-image-renderer,
.sendbird-image-renderer__image {
  width: 320px;
  height: 180px;
}
