@import '../../styles/variables';

.sendbird-image-renderer {
  overflow: hidden;
  position: relative;
}

.sendbird-image-renderer__hidden-image-loader {
  display: none;
}

.sendbird-image-renderer,
.sendbird-image-renderer__image {
  width: 320px;
  height: 180px;
}

.sendbird-multiple-files-image-renderer__image-cover {
  position: absolute;
  top: 0px;
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-color: var(--sendbird-light-overlay-01);
  z-index: 3;
}

.sendbird-image-renderer:hover {
  .sendbird-multiple-files-image-renderer__image-cover {
    display: inline-flex;
  }
}

.sendbird-multiple-files-image-renderer__icon-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  .sendbird-multiple-files-image-renderer__icon-wrapper__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--sendbird-light-ondark-01);
    z-index: 2;
  }
}