@import '../../../../styles/variables';

.sendbird-channel-profile {
  position: relative;
  text-align: center;
  padding: 32px 40px 27px 40px;
  @include themed() {
    border-bottom: 1px solid t(on-bg-4);
    background-color: t(bg-0);
  }

  .sendbird-channel-profile--inner {
    height: 92px;
  }

  .sendbird-channel-profile__avatar {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
  }

  .sendbird-channel-profile__title {
    display: block;
    max-width: 240px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    height: 18px;
    @include mobile() {
      max-width: 100%;
    }
  }

  .sendbird-channel-profile__edit {
    position: absolute;
    top: 10px;
    right: 16px;
  }
}

.channel-profile-form {
  .channel-profile-form__img-section {
    position: relative;
  }

  .channel-profile-form__avatar-button {
    position: absolute;
    top: 54px;
    left: 96px;
  }

  .channel-profile-form__avatar {
    margin-top: 16px;
  }

  .channel-profile-form__name-section {
    margin-top: 12px;
    .sendbird-input {
      height: 40px;
    }
  }
}
