@import '../../../../styles/variables';

.sendbird-message-search {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  @include themed() {
    background-color: t(bg-0);
  }
}
