@import '../../../../styles/variables';

.sendbird-openchannel-conversation {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  @include themed() {
    background-color: t(bg--0-6);
  }

  .sendbird-openchannel-conversation-scroll {
    overflow-y: auto;
    flex: 1 1 0;
    width: 100%;
  }

  .sendbird-openchannel-footer {
    padding: 12px 24px 24px 24px;
  }

  .sendbird-openchannel-conversation-scroll-container {
    display: flex;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;

    .sendbird-openchannel-conversation-scroll-padding {
      flex: 1 1 0;
    }
  }
}
