@import '../../styles/variables';

.sendbird-message-search-file-item {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  cursor: pointer;
  @include themed() {
    border-bottom: 1px solid t(on-bg-4);
    background-color: t(bg-0);
  }

  &:hover {
    @include themed() {
      background-color: t(bg-1);
    }
  }

  .sendbird-message-search-file-item__left {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 80px;
  }
  .sendbird-message-search-file-item__right {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% - 106px);

    .sendbird-message-search-file-item__right__sender-name {
      position: absolute;
      top: 12px;
      display: inline-block;
      max-width: 146px;
      height: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .sendbird-message-search-file-item__right__content {
      position: absolute;
      top: 36px;
      box-sizing: border-box;
      width: 100%;
      height: 32px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .sendbird-message-search-file-item__right__content__type-icon {
        position: relative;
        margin-right: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 26px;
        min-width: 26px;
        height: 26px;
        border-radius: 8px;
        @include themed() {
          background-color: t(bg-1);
        }
      }
      .sendbird-message-search-file-item__right__content__type-icon.--voice-message-border-radius {
        border-radius: 50%;
      }
      .sendbird-message-search-file-item__right__content__url {
        height: 16px;
        position: relative;
        display: inline;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: keep-all;
        white-space: nowrap;
      }
    }
  }
  .sendbird-message-search-file-item__message-created-at {
    position: absolute;
    top: 12px;
    right: 18px;
  }
  .sendbird-message-search-file-item__right-footer {
    width: 16px;
  }
}

.sendbird-message-search-file-item.sendbird-message-search-file-item--selected {
  @include themed() {
    background-color: t(primary--1-bg--7);
  }
  .sendbird-message-search-file-item__left {
    @include themed() {
      border-left: 4px solid t(primary-3);
    }
  }
}
