@import '../../../styles/variables';

$unknown-message-text-balloon-width: 198px;

.sendbird-unknown-message {
  position: relative;
  line-height: 0px;
  &--outgoing {
    text-align: right;
  }
  &--incoming {
    text-align: left;
  }
}

// outgoing message
.sendbird-outgoing-unknown-message {
  position: relative;
  right: 0px;
  display: inline-block;
  text-align: right;
  padding-left: 36px;
  box-sizing: border-box;

  &--inner {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  &:hover {
    .sendbird-outgoing-unknown-message__body {
      &__text-balloon {
        @include themed() {
          background-color: t(primary-2);
        }
      }
    }
    .sendbird-outgoing-unknown-message__more {
      display: block;
    }
  }

  &--left-padding {
    position: relative;
    width: 68px;
    .sendbird-outgoing-unknown-message__more {
      display: none;
      position: absolute;
      top: 4px;
      right: 4px;
    }
    .sendbird-outgoing-unknown-message__message-status {
      position: absolute;
      text-align: right;
      right: 4px;
      bottom: 4px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;

    &__text-balloon {
      box-sizing: border-box;
      text-align: left;
      border-radius: 16px;
      padding: 8px 12px;
      width: $unknown-message-text-balloon-width;
      height: 56px;
      @include themed() {
        background-color: t(primary-1);
      }
    }
  }
}

// incoming message
.sendbird-incoming-unknown-message {
  position: relative;
  left: 0px;
  display: flex;
  flex-direction: row;
  text-align: left;

  &--inner {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  &:hover {
    .sendbird-incoming-unknown-message__body {
      &__text-balloon {
        @include themed() {
          background-color: t(bg-2);
        }
      }
    }
  }

  &__left {
    width: 38px;

    &__sender-profile-image {
      position: absolute;
      bottom: 4px;
    }
  }

  &__body {
    width: $unknown-message-text-balloon-width;
    display: flex;
    flex-direction: column;

    &__sender-name {
      margin-left: 10px;
      margin-bottom: 4px;
    }

    &__text-balloon {
      width: $unknown-message-text-balloon-width;
      height: 56px;
      border-radius: 16px;
      text-align: left;
      padding: 8px 12px;
      box-sizing: border-box;
      @include themed() {
        background-color: t(bg-1);
      }
    }
  }

  &--right-padding {
    position: relative;
    width: 68px;
    .sendbird-incoming-unknown-message__sent-at {
      position: absolute;
      left: 4px;
      bottom: 4px;
    }
  }
}
