@import '../../styles/variables';

.sendbird-thumbnail-message-item-body {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  min-width: 360px;
  max-width: 400px;
  height: 270px;
  border-radius: 16px;
  &.reactions {
    border-radius: 16px 16px 0px 0px;
  }
  @include themed() { background-color: t(bg-1) }
  &.mouse-hover, &:hover {
    @include themed() { background-color: t(bg-2) }
  }

  .sendbird-thumbnail-message-item-body__thumbnail {
    position: absolute;
    border-radius: 16px;
  }

  .sendbird-thumbnail-message-item-body__placeholder {
    position: absolute;
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;

    .sendbird-thumbnail-message-item-body__placeholder__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background-color: var(--sendbird-light-background-50);
    }
  }

  .sendbird-thumbnail-message-item-body__image-cover {
    position: absolute;
    top: 0px;
    display: none;
    width: 100%;
    height: 270px;
    border-radius: 16px;;
    background-color: var(--sendbird-light-overlay-01);
  }

  .sendbird-thumbnail-message-item-body__video {
    position: absolute;
    width: 100%;
    height: 270px;
    border-radius: 16px;
  }

  .sendbird-thumbnail-message-item-body__icon-wrapper {
    position: absolute;
    width: 100%;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;

    .sendbird-thumbnail-message-item-body__icon-wrapper__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background-color: var(--sendbird-light-background-50);
    }
  }
}

.sendbird-thumbnail-message-item-body:hover {
  cursor: pointer;
  .sendbird-thumbnail-message-item-body__image-cover {
    display: inline-flex;
  }
}
