@import '../../styles/variables';

.sendbird-modal__mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100000;
  @include themed() {
    background-color: t(overlay-2);
  }
}

.sendbird-modal__container {
  position: relative;
  z-index: 100001;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px 24px 24px;
  @include themed() {
    background-color: t(bg--0-5);
    box-shadow: t(shadow-gradient-4);
  }
}

.sendbird-modal__wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sendbird-modal--header {
  position: relative;
  margin-bottom: 16px;
  .sendbird-modal--close {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.sendbird-modal--footer {
  margin-top: 32px;
  text-align: right;
  .sendbird-button:last-child {
    margin-left: 8px;
  }
}
