@import '../../styles/variables';

.sendbird-word {
  display: inline-flex;
  margin-right: 4px;
  height: fit-content;
  .sendbird-word__url,
  .sendbird-word__normal {
    display: inline-block;
    color: inherit;
  }
}
