@import '../../styles/variables';

.sendbird-word {
  display: inline;
  height: fit-content;
}

.sendbird-word__url {
  margin: 0 4px;
  display: inline;
  color: inherit;
  word-break: break-all;
}
