@import '../../styles/variables';

.sendbird-button {
  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-family: var(--sendbird-font-family-default);
  padding: 0;

  &:hover {
    box-shadow: none;
  }

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: none;
  }

  &.sendbird-button__disabled {
    cursor: not-allowed;
    @include themed() {
      background-color: t(bg-2);
      border: none;
    }

    &:hover {
      @include themed() {
        background-color: t(bg-2);
      }
    }
  }
}

.sendbird-button--big {
  height: 40px;

  .sendbird-button__text {
    margin: 10px 16px;
  }
}

.sendbird-button--small {
  height: 32px;

  .sendbird-button__text {
    margin: 6px 16px;
  }
}

.sendbird-button--primary {
  @include themed() {
    background-color: t(primary-3);
    border: 1px solid t(primary-3);
  }

  .sendbird-button__text {
    @include themed() {
      color: t(on-content-1);
    }
  }

  &:hover {
    @include themed() {
      background-color: t(primary-4);
      border-color: t(primary-4);
    }
  }

  &:focus {
    @include themed() {
      border: 1px solid var(--sendbird-button-border-focus);
      box-shadow: 0 0 0 2px t(primary-3);
    }
  }

  &:active {
    @include themed() {
      background-color: t(primary-5);
    }
  }

  &:focus &:hover {
    @include themed() {
      box-shadow: 0 0 0 2px t(primary-4);
    }
  }

  &:focus &:active {
    @include themed() {
      box-shadow: 0 0 0 2px t(primary-5);
    }
  }
}

.sendbird-button--secondary {
  background-color: transparent;
  @include themed() {
    border: 1px solid t(on-bg-3);
  }

  .sendbird-button__text {
    @include themed() {
      color: t(on-bg-1);
    }
  }

  &:hover {
    background-color: transparent;
    @include themed() {
      border: 1px solid t(primary-3);
    }

    .sendbird-button__text {
      @include themed() {
        color: t(primary-3);
      }
    }
  }

  &.sendbird-button__disabled {
    border: none;
    cursor: not-allowed;
    @include themed() {
      background-color: t(bg-2);
    }

    .sendbird-button__text {
      @include themed() {
        color: t(on-bg-2);
      }
    }

    &:hover {
      border: none;
      @include themed() {
        background-color: t(bg-2);
      }

      .sendbird-button__text {
        @include themed() {
          color: t(on-bg-2);
        }
      }
    }
  }

  &:hover &:focus {
    .sendbird-button__text {
      @include themed() {
        color: t(primary-3);
      }
    }
  }

  &:focus {
    background-color: transparent;
    border: 1px solid transparent;
    @include themed() {
      box-shadow: t(primary-3) 0 0 0 2px;
    }

    .sendbird-button__text {
      @include themed() {
        color: t(on-bg-1);
      }
    }
  }


  &:active {
    box-shadow: none;
    @include themed() {
      background-color: t(bg-1-4);
      border: 1px solid t(primary-3);
    }

    .sendbird-button__text {
      @include themed() {
        color: t(primary-3);
      }
    }
  }
}

.sendbird-button--warning {
  @include themed() {
    background-color: transparent;
    border: 1px solid t(error--3-2);
  }

  .sendbird-button__text {
    @include themed() {
      color: t(error--3-2);
    }
  }

  &:hover {
    @include themed() {
      border-color: t(error--4-1);
    }
    .sendbird-button__text {
      @include themed() {
        color: t(error--4-1);
      }
    }
  }

  &:focus {
    @include themed() {
      border-color: t(primary-3);
      .sendbird-button__text {
        @include themed() {
          color: t(error--3-2);
        }
      }
    }
  }

  &:hover &:focus {
    @include themed() {
      border-color: t(primary-3);
      .sendbird-button__text {
        @include themed() {
          color: t(error--4-1);
        }
      }
    }
  }
}

.sendbird-button--danger {
  @include themed() {
    background-color: t(error--3-2);
    border: 1px solid t(error--3-2);
  }

  .sendbird-button__text {
    @include themed() {
      color: t(on-content-1);
    }
  }

  &:hover {
    @include themed() {
      background-color: t(error-4);
      border-color: t(error-4);
    }
  }

  &:focus {
    @include themed() {
      border-color: var(--sendbird-button-border-focus);
      box-shadow: 0 0 0 2px t(error-3);
    }
  }

  &:active {
    box-shadow: none;
    @include themed() {
      background-color: t(error-5);
    }
  }

  &:hover &:focus {
    @include themed() {
      box-shadow: 0 0 0 2px t(error-4);
    }
  }

  &:active &:focus {
    @include themed() {
      box-shadow: 0 0 0 2px t(error-5);
    }
  }
}

.sendbird-button--disabled {
  border: 1px solid transparent;
  cursor: not-allowed;
  @include themed() {
    background-color: t(bg-2);
    color: t(on-content-1);
  }
}

