@import '../../styles/variables';

.sendbird-message-input {
  display: inline-block;
  width: 100%;
  position: relative;

  .sendbird-message-input--textarea {
    position: relative;
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    height: 56px;
    overflow-y: scroll;
    letter-spacing: normal;
    padding: 18px 64px 18px 16px;
    box-sizing: border-box;
    resize: none;
    font-family: var(--sendbird-font-family-default);
    background-color: inherit;
    white-space: pre-wrap;
    @include themed() {
      color: t(on-bg-1);
      caret-color: t(primary-3);
      border: solid 1px t(on-bg-3);
      background-color: t(bg--0-5);
    }

    &:focus {
      outline: none;
      @include themed() {
        color: t(on-bg-1);
        border: solid 1px t(primary--3-2);
        box-shadow: t(shadow-message-input);
      }
    }

    &:active {
      @include themed() {
        border: solid 1px var(--sendbird-message-input-border-active);
        color: t(on-bg-1);
      }
    }
  }

  .sendbird-message-input--placeholder {
    position: absolute;
    pointer-events: none;
    top: 18px;
    left: 16px;
    font-family: var(--sendbird-font-family-default);
    font-size: 14px;
    line-height: 1.43;
  }

  .sendbird-message-input--attach {
    position: absolute;
    padding: 6px;
    right: 16px;
    bottom: 14px;
  }
  .sendbird-message-input--attach.is-voice-message-enabled {
    right: 48px;
  }

  .sendbird-message-input--voice-message {
    position: absolute;
    padding: 6px;
    right: 16px;
    bottom: 14px;
  }

  .sendbird-message-input--send {
    position: absolute;
    padding: 6px;
    right: 16px;
    bottom: 14px;
  }

  .sendbird-message-input--attach-input {
    display: none;
  }
}

.sendbird-message-input__edit {
  padding: 16px;
  box-sizing: border-box;
  @include themed() {
    background-color: t(primary--1-bg--7);
  }
}

.sendbird-message-input--edit-action {
  text-align: right;
  margin-top: 4px;
  button:last-child {
    margin-left: 8px;
  }

  .sendbird-message-input--edit-action__cancel {
    width: 80px;
    @include themed() {
      border: solid 1px t(on-bg-3);
    }
  }

  .sendbird-message-input--edit-action__save {
    width: 80px;
  }
}

.sendbird-message-input-form__disabled {
  cursor: not-allowed;
}

.sendbird-message-input__disabled {
  pointer-events: none;
  cursor: not-allowed;
  .sendbird-message-input--textarea {
    @include themed() {
      color: t(on-bg-4);
      border: 1px solid t(on-bg-4);
    }
  }
}

// new styles
.sendbird-message-input--area {
  display: flex;
  flex: 1;
  min-width: 0;
  flex-direction: column;
  border-radius: 20px;
}

.sendbird-message-input--file-preview {
  &::-webkit-scrollbar {
    display: none;
  }
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 8px 16px;
}

.sendbird-message-input--file {
  display: flex;
  flex-shrink: 0;
  position: relative;
  margin-block-start: 8px;
  border-radius: 12px;
  height: 64px;
  .sendbird-theme--light & {
    background-color: var(--sendbird-light-background-200);
  }
  .sendbird-theme--dark & {
    background-color: var(--sendbird-dark-background-500);
  }

  .image {
    border-radius: 12px;
    object-fit: cover;
    width: 64px;
    -webkit-user-drag: none;
    cursor: pointer;
  }

  .pdf {
    border-radius: 12px;
    gap: 8px;
    width: 244px;
    height: 64px;
    display: flex;
    align-items: center;
    padding: 12px;
    box-sizing: border-box;
    .sendbird-theme--light & {
      border: 1px solid var(--sendbird-light-onlight-04);
      background-color: var(--sendbird-light-background-50);
    }
    .sendbird-theme--dark & {
      border: 1px solid var(--sendbird-dark-ondark-04);
      background-color: var(--sendbird-dark-background-500);
    }

    .pdf-icon {
      border-radius: 8px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--sendbird-light-error-300);
      path {
        fill: white;
      }
    }

    .pdf-info {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 4px;
      min-width: 0;

      .pdf-name {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        .sendbird-theme--light & {
          color: var(--sendbird-light-onlight-01);
        }
        .sendbird-theme--dark & {
          color: var(--sendbird-dark-ondark-01);
        }
      }
      .pdf-type {
        .sendbird-theme--light & {
          color: var(--sendbird-light-onlight-02);
        }
        .sendbird-theme--dark & {
          color: var(--sendbird-dark-ondark-02);
        }
      }
    }
  }
}

.sendbird-message-input--file-remove {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  .sendbird-theme--light & {
    background-color: var(--sendbird-light-background-50);
    path {
      fill: var(--sendbird-light-onlight-02);
    }
    :hover {
      path {
        fill: var(--sendbird-light-onlight-01);
      }
    }
  }

  .sendbird-theme--dark & {
    background-color: var(--sendbird-dark-background-500);
    path {
      fill: var(--sendbird-dark-ondark-02);
    }
    :hover {
      path {
        fill: var(--sendbird-dark-ondark-01);
      }
    }
  }
}
