@import '../../styles/variables';

.sendbird-message-content {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  &.incoming { justify-content: flex-start; }
  &.outgoing { justify-content: flex-end; }
  .sendbird-message-content__middle {
    .sendbird-message-content__middle__quote-message.use-quote {
      margin-top: -8px;
      bottom: -8px;
    }
  }
}

// incoming
.sendbird-message-content.incoming {
  .sendbird-message-content__left {
    position: relative;
    display: inline-flex;
    min-width: 40px;

    .sendbird-message-content__left__avatar {
      position: absolute;
      left: 0px;
      bottom: 2px;
    }
  }

  .sendbird-message-content__middle {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    max-width: 400px;
    align-items: flex-start;

    .sendbird-message-content__middle__body-container {
      .sendbird-message-content__middle__body-container__created-at {
        position: absolute;
        bottom: 6px;
        right: -84px;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        min-width: 80px;
        &.supposed-hover {
          display: none;
        }
      }
    }

    .sendbird-message-content__middle__sender-name {
      position: relative;
      margin-left: 12px;
      margin-bottom: 4px;
    }

    .sendbird-message-content__middle__quote-message {
      position: relative;
      width: 100%;
      display: inline-flex;
      &.outgoing { justify-content: flex-end }
      &.incoming { justify-content: flex-start }
    }
  }

  .sendbird-message-content__right {
    position: relative;
    display: inline-flex;
    width: 50px;
    &.use-reactions { width: 70px; }
    margin-left: 4px;
    padding-top: 18px;
    &.chain-top {
      padding-top: 2px;
      &.use-quote {
        padding-top: 18px;
      }
    }

    .sendbird-message-content-menu {
      position: relative;
      flex-direction: row;
      height: 32px;
      display: none;
      &.supposed-hover {
        display: inline-flex;
      }
    }
  }

  &:hover {
    .sendbird-message-content__right {
      .sendbird-message-content-menu {
        display: inline-flex;
      }
    }
  }
}

// outgoing
.sendbird-message-content.outgoing {
  .sendbird-message-content__left {
    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: flex-end;
    width: 50px;
    &.use-reactions { width: 70px }
    &.use-quote {
      .sendbird-message-content-menu {
        top: 18px;
      }
    }

    .sendbird-message-content-menu {
      position: absolute;
      top: 2px;
      right: 4px;
      flex-direction: row;
      display: none;
      &.supposed-hover {
        display: inline-flex;
      }
    }
  }

  .sendbird-message-content__middle {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    max-width: 400px;
    align-items: flex-end;

    .sendbird-message-content__middle__quote-message {
      position: relative;
      width: 100%;
      display: inline-flex;
      &.outgoing { justify-content: flex-end }
      &.incoming { justify-content: flex-start }
    }

    .sendbird-message-content__middle__body-container {
      position: relative;
      width: fit-content;

      .sendbird-message-content__middle__body-container__created-at {
        position: absolute;
        bottom: 2px;
        left: -84px;
        white-space: nowrap;
        display: flex;
        justify-content: flex-end;
        box-sizing: content-box;
        min-width: 80px;
        min-height: 16px;
        &.supposed-hover {
          display: none;
        }
        .sendbird-message-content__middle__body-container__created-at__component-container {
          position: relative;
          display: inline-flex;
        }
      }
    }
  }

  .sendbird-message-content__right {
    display: none;
  }

  &:hover {
    .sendbird-message-content__left {
      .sendbird-message-content-menu {
        display: inline-flex;
      }
    }
    .sendbird-message-content__middle {
      .sendbird-message-content__middle__body-container {
        .sendbird-message-content__middle__body-container__created-at,
        .sendbird-message-content__middle__body-container__right-created-at {
          display: none;
        }
      }
    }
  }
}

.sendbird-message-content__middle__body-container {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: row;

  .sendbird-message-content__middle__message-item-body {
    width: 100%;
    box-sizing: border-box;
  }
  .sendbird-message-content-reactions {
    width: 100%;
  }
}

.sendbird-message-content-reactions {
  position: relative;
  width: 100%;
  border-radius: 0px 0px 16px 16px;
  @include themed() { background-color: t(bg-1) }
  &.primary {
    @include themed() { background-color: t(primary-3) }
  }
  &.mouse-hover, &:hover {
    @include themed() { background-color: t(bg-2) }
    &.primary {
      @include themed() { background-color: t(primary-4) }
    }
  }
}
