@import '../../styles/variables';

:root {
  --sendbird-feedback-buttons-container-height: 36px;
  --sendbird-feedback-buttons-container-margin-top: 4px;
  --sendbird-thread-replies-height: 28px;
  --sendbird-thread-replies-margin-top: 4px;
  --sendbird-feedback-buttons-container-margin-bottom: 4px;
}

.sendbird-message-content {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: 100%;

  &.incoming {
    justify-content: flex-start;
  }

  &.outgoing {
    justify-content: flex-end;
  }

  .sendbird-message-content__middle {
    max-width: 400px;
    @include mobile() {
      max-width: calc(100vw - 140px);
    }
  }

  .sendbird-message-content__middle {
    .sendbird-message-content__middle__quote-message.use-quote {
      bottom: -8px;
      margin-top: -8px;
    }
  }
}

.sendbird-message-content__feedback {
  margin-bottom: calc(
    var(--sendbird-feedback-buttons-container-height)
    + var(--sendbird-feedback-buttons-container-margin-top)
    + var(--sendbird-feedback-buttons-container-margin-bottom)
  );
}

.sendbird-message-content__middle__quote-message__quote {
  width: 100%;
}

// incoming
.sendbird-message-content.incoming {
  .sendbird-message-content__left {
    display: inline-flex;
    min-width: 40px;
    position: relative;

    .sendbird-message-content__left__avatar {
      bottom: 2px;
      left: 0;
      position: absolute;
      &.multiple {
        border: 2px solid;
        @include themed() {
          border-color: t(bg-0);
        }
      }
    }

    .sendbird-message-content__left__avatar.use-thread-replies {
      bottom: 35px;
    }
  }

  .sendbird-message-content__middle {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    position: relative;

    .sendbird-message-content__middle__body-container {
      .sendbird-message-content__middle__body-container__created-at {
        bottom: 6px;
        display: flex;
        flex-direction: row;
        min-width: 80px;
        position: absolute;
        right: -84px;
        white-space: nowrap;

        &.sendbird-mouse-hover {
          display: none;
        }
      }
    }

    .sendbird-message-content__middle__sender-name {
      margin-bottom: 4px;
      margin-left: 12px;
      overflow-x: hidden;
      position: relative;
      text-overflow: ellipsis;
      width: 100%;
    }

    .sendbird-message-content__middle__quote-message {
      display: inline-flex;
      position: relative;
      width: 100%;
      &.outgoing { justify-content: flex-end; }
      &.incoming { justify-content: flex-start; }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .sendbird-message-content__right {
    display: inline-flex;
    margin-left: 4px;
    padding-top: 18px;
    position: relative;
    width: 50px;
    &.use-reactions { width: 70px; }

    &.chain-top {
      padding-top: 2px;

      &.use-quote {
        padding-top: 18px;
      }
    }

    .sendbird-message-content-menu {
      display: none;
      flex-direction: row;
      height: 32px;
      position: relative;

      &.sendbird-mouse-hover {
        display: inline-flex;
      }
    }
  }

  &:hover {
    @include mobile() {
      .sendbird-message-content__middle {
        .sendbird-message-content__middle__body-container {
          .sendbird-message-content__middle__body-container__created-at {
            display: inline-flex;
          }
        }
      }
    }

    .sendbird-message-content__right {
      .sendbird-message-content-menu {
        display: inline-flex;
      }
    }

    .sendbird-message-content__middle {
      .sendbird-message-content__middle__body-container {
        .sendbird-message-content__middle__body-container__created-at {
          display: none;
        }
      }
    }
  }
}

// outgoing
.sendbird-message-content.outgoing {
  .sendbird-message-content__left {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: flex-end;
    position: relative;
    width: 50px;
    &.use-reactions { width: 70px; }

    &.use-quote {
      .sendbird-message-content-menu {
        top: 18px;
      }
    }

    .sendbird-message-content-menu {
      display: none;
      flex-direction: row;
      position: absolute;
      right: 4px;
      top: 2px;

      &.sendbird-mouse-hover {
        display: inline-flex;
      }
    }
  }

  .sendbird-message-content__middle {
    align-items: flex-end;
    display: inline-flex;
    flex-direction: column;
    position: relative;

    .sendbird-message-content__middle__quote-message {
      display: inline-flex;
      position: relative;
      width: 100%;
      &.outgoing { justify-content: flex-end; }
      &.incoming { justify-content: flex-start; }
    }

    .sendbird-message-content__middle__body-container {
      position: relative;
      width: 100%;

      .sendbird-message-content__middle__body-container__created-at {
        bottom: 2px;
        box-sizing: content-box;
        display: flex;
        justify-content: flex-end;
        left: -84px;
        min-height: 16px;
        min-width: 80px;
        position: absolute;
        white-space: nowrap;

        &.sendbird-mouse-hover {
          display: none;
        }

        .sendbird-message-content__middle__body-container__created-at__component-container {
          display: inline-flex;
          position: relative;
        }
      }
    }
  }

  .sendbird-message-content__right {
    display: none;
  }

  &:hover {
    @include mobile {
      .sendbird-message-content__middle {
        .sendbird-message-content__middle__body-container {
          .sendbird-message-content__middle__body-container__created-at {
            display: inline-flex;
          }
        }
      }
    }

    .sendbird-message-content__left {
      .sendbird-message-content-menu {
        display: inline-flex;
      }
    }

    .sendbird-message-content__middle {
      .sendbird-message-content__middle__body-container {
        .sendbird-message-content__middle__body-container__created-at {
          display: none;
        }
      }
    }
  }
}

.sendbird-message-content__middle__body-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;

  .sendbird-message-content__middle__message-item-body {
    box-sizing: border-box;
    width: 100%;
  }
}

.sendbird-message-content-reactions {
  border-radius: 0 0 16px 16px;
  max-width: 400px;
  position: relative;
  width: 100%;
  @include themed() { background-color: t(bg-1); }

  &.primary {
    @include themed() { background-color: t(primary-3); }
  }

  &.mouse-hover,
  &:hover {
    @include themed() { background-color: t(bg-2); }

    &.primary {
      @include themed() { background-color: t(primary-4); }
    }
  }

  &.image-grid {
    @include themed() { background-color: t(bg-1); }
  }
}

// threads
.sendbird-message-content__middle__thread-replies {
  margin-top: 4px;
}

.sendbird-voice-message-item-body.sendbird-message-content__middle__message-item-body {
  height: 50px;
  min-width: 136px;
}

.sendbird-message-content__middle__body-container__feedback-buttons-container {
  position: absolute;
  bottom: calc(-1 * (var(--sendbird-feedback-buttons-container-height) + var(--sendbird-feedback-buttons-container-margin-top)));
  display: flex;
  gap: 4px;
}

.sendbird-message-content__middle__body-container__feedback-buttons-container_with-thread-replies {
  bottom: calc(-1 * (var(--sendbird-feedback-buttons-container-height) + var(--sendbird-feedback-buttons-container-margin-top) + var(--sendbird-thread-replies-height) + var(--sendbird-thread-replies-margin-top)));
}