@import '../../../styles/variables';

.sendbird-file-message--outgoing {
  text-align: right;
}
.sendbird-file-message--incoming {
  text-align: left;
}

.sendbird-file-message__outgoing {
  position: relative;
  right: 0px;
  display: inline-block;
  max-width: 496px;
  text-align: right;
  line-height: 0px;

  .sendbird-file-message__outgoing--inner {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  &:hover {
    .sendbird-file-message__tooltip {
      @include themed() {
        background-color: t(primary-4);
      }
      .sendbird-file-message__tooltip__emoji-reactions {
        @include themed() {
          border: solid 1px t(primary-4);
        }
      }
    }
    .sendbird-file-message__outgoing__left-padding {
      .sendbird-file-message__outgoing__left-padding__more {
        display: block;
      }
      .sendbird-file-message__outgoing__left-padding__status {
        display: none;
      }
    }
  }

  .sendbird-file-message__outgoing__left-padding {
    position: relative;
    width: 68px;
    .sendbird-file-message__outgoing__left-padding__more {
      display: none;
      position: absolute;
      right: 4px;
      top: 2px;
    }
    .sendbird-file-message__outgoing__left-padding__status {
      position: absolute;
      text-align: right;
      right: 4px;
      bottom: 4px;
    }
  }


  .sendbird-file-message__outgoing__tooltip {
    display: flex;
    flex-direction: column;
    max-width: var(--sendbird-message-balloon-width);
    box-sizing: border-box;
    border-radius: 16px;
    @include themed() {
      background-color: t(primary-3);
    }

    .sendbird-file-message__outgoing__tooltip__inner {
      display: flex;
      flex: row;
      padding: 8px 12px;
      text-align: left;

      .sendbird-file-message__outgoing__tooltip__icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 28px;
        height: 28px;
        border-radius: 10px;
        margin-right: 8px;
        background-color: var(--sendbird-file-message-icon-background);
        @include themed() {
          background-color: t(bg-0);
        }
      }

      .sendbird-file-message__outgoing__tooltip__text {
        white-space: nowrap;
        overflow-wrap: break-word;
        margin: 4px 0px;
        cursor: pointer;
      }
    }

    .sendbird-file-message__outgoing__tooltip__emoji-reactions {
      @include themed() {
        border: solid 1px t(primary-3);
      }
    }
  }
}

.sendbird-file-message__incoming {
  position: relative;
  left: 0px;
  display: inline-block;
  padding-left: 40px;
  max-width: 536px;
  text-align: left;
  line-height: 0px;

  .sendbird-file-message__incoming--inner {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .sendbird-file-message__incoming__body {
    .sendbird-file-message__incoming__body__avatar {
      position: absolute;
      bottom: 2px;
      left: -40px;
      cursor: pointer;
    }
    .sendbird-file-message__incoming__body__sender-name {
      margin-left: 12px;
      margin-bottom: 4px;
    }

    .sendbird-file-message__incoming__body__tooltip {
      display: flex;
      flex-direction: column;
      margin-top: 4px;
      max-width: var(--sendbird-message-balloon-width);
      box-sizing: border-box;
      border-radius: 16px;
      @include themed() {
        background-color: t(bg-1);
      }
  
      .sendbird-file-message__incoming__body__tooltip__inner {
        display: flex;
        flex-direction: row;
        padding: 8px 12px;
        .sendbird-file-message__incoming__body__tooltip__icon-box {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          margin-right: 8px;
          min-width: 28px;
          height: 28px;
          @include themed() {
            background-color: t(bg-0);
          }
        }
  
        .sendbird-file-message__incoming__body__tooltip__text {
          white-space: nowrap;
          overflow-wrap: normal;
          margin: 4px 0px;
          cursor: pointer;
        }
      }
  
      .sendbird-file-message__incoming__body__tooltip__emoji-reactions {
        @include themed() {
          border: solid 1px t(bg-1);
        }
      }
    }
  }

  .sendbird-file-message__incoming__right-padding {
    position: relative;
    width: 68px;
    .sendbird-file-message__incoming__right-padding__more {
      position: absolute;
      display: none;
      left: 4px;
      top: 18px;
    }
    .sendbird-file-message__incoming__right-padding__sent-at {
      position: absolute;
      left: 4px;
      bottom: 4px;
    }
  }

  &:hover {
    .sendbird-file-message__incoming__right-padding {
      .sendbird-file-message__incoming__right-padding__more {
        display: block;
      }
    }
    .sendbird-file-message__incoming__body__tooltip {
      @include themed() {
        background-color: t(bg-2);
      }
      .sendbird-file-message__incoming__body__tooltip__emoji-reactions {
        @include themed() {
          border: solid 1px t(bg-2);
        }
      }
    }
  }
}
