@import '../../../styles/variables';

.sendbird-og-message {
  position: relative;
  &--outgoing {
    text-align: right;
    line-height: 0px;
  }
  &--incoming {
    text-align: left;
  }
}

.sendbird-outgoing-og-message {
  position: relative;
  right: 0px;
  display: inline-block;
  box-sizing: border-box;
  text-align: right;

  .sendbird-outgoing-og-message__og-tag__url {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    width: 296px;
  }

  .sendbird-outgoing-og-message--inner {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  &:hover {
    .sendbird-outgoing-og-message__text-balloon {
      @include themed() {
        background-color: t(primary-4);
      }
    }
    .sendbird-outgoing-og-message__og-tag {
      @include themed() {
        background-color: t(bg-2);
      }
      &__emoji-reactions {
        @include themed() {
          border: 1px solid t(bg-2);
        }
      }
    }
    .sendbird-outgoing-og-message--left-padding {
      .sendbird-outgoing-og-message__more {
        display: block;
      }
    }
  }

  .sendbird-outgoing-og-message--left-padding {
    position: relative;
    width: 68px;
    .sendbird-outgoing-og-message__more {
      display: none;
      position: absolute;
      top: 2px;
      right: 4px;

      &[class*='--pressed'] {
        display: block !important;
      }
    }
    .sendbird-outgoing-og-message__message-status {
      position: absolute;
      right: 4px;
      bottom: 4px;
      text-align: right;
    }
  }

  &__text-balloon {
    box-sizing: border-box;
    width: 320px;
    padding: 8px 12px;
    border-radius: 16px 16px 0px 0px;
    word-break: break-all;
    text-align: left;

    @include themed() {
      background-color: t(primary-3);
    }
  }

  &__thumbnail--disabled {
    &:hover {
      cursor: not-allowed !important;
    }
  }
  &__thumbnail {
    width: 320px;
    box-sizing: border-box;
    @include themed() {
      background-color: t(bg-1);
    }
    &__image {
      &__placeholder {
        width: 320px;
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }

  &__og-tag--disabled {
    &:hover {
      cursor: not-allowed !important;
    }
  }
  &__og-tag {
    padding: 8px 12px 12px 12px;
    border-radius: 0px 0px 16px 16px;
    text-align: left;
    box-sizing: border-box;
    width: 320px;

    @include themed() {
      background-color: t(bg-1);
    }

    &__title {
      max-height: 150px; // text line limit: 10
      overflow-y: hidden;
      margin-bottom: 4px;
    }

    &__description {
      margin-bottom: 8px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__url {
      &__label {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    &__emoji-reactions--wrapper {
      &:focus {
        outline: none;
      }
    }
    &__emoji-reactions {
      margin: 8px -12px -12px -12px;
      width: 320px;

      @include themed() {
        border: 1px solid t(bg-1);
      }

      &:hover {
        cursor: default;
      }
      &:focus {
        outline: none;
      }
    }

    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }
}

.sendbird-og-message-word {
  display: inline;
  margin: 0px 2px;
}

.sendbird-incoming-og-message {
  position: relative;
  left: 0px;
  display: inline-block;
  box-sizing: border-box;
  text-align: left;
  padding-left: 40px;

  &:hover {
    .sendbird-incoming-og-message--inner {
      .sendbird-incoming-og-message--body {
        .sendbird-incoming-og-message__text-balloon {
          @include themed() {
            background-color: t(bg-2);
          }
        }
        .sendbird-incoming-og-message__og-tag {
          @include themed() {
            background-color: t(bg-2);
          }
        }
      }
      .sendbird-incoming-og-message--right-padding {
        .sendbird-incoming-og-message__og-tag__emoji-reactions--wrapper {
          .sendbird-incoming-og-message__og-tag__emoji-reactions {
            @include themed() {
              border: 1px solid t(bg-2);
            }
          }
        }
        .sendbird-incoming-og-message__more {
          display: block;
        }
      }
    }
  }

  .sendbird-incoming-og-message--inner {
    position: relative;
    display: flex;
    flex-direction: row;

    .sendbird-incoming-og-message--body {
      position: relative;

      .sendbird-incoming-og-message__avatar {
        position: absolute;
        bottom: 4px;
        left: -40px;
        cursor: pointer;
      }

      .sendbird-incoming-og-message__sender-name {
        margin-left: 12px;
      }

      .sendbird-incoming-og-message__text-balloon {
        box-sizing: border-box;
        max-width: 320px;
        padding: 8px 12px;
        border-radius: 16px 16px 0px 0px;
        word-break: break-all;
        text-align: left;
        @include themed() {
          background-color: t(bg-1);
        }
      }

      .sendbird-incoming-og-message__thumbnail--disabled {
        &:hover {
          cursor: not-allowed !important;
        }
      }
      .sendbird-incoming-og-message__thumbnail {
        box-sizing: border-box;
        width: 320px;
        @include themed() {
          background-color: t(bg-1);
        }
        .sendbird-incoming-og-message__thumbnail__image__placeholder {
          width: 320px;
          height: 160px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &:hover {
          cursor: pointer;
        }
        &:focus {
          outline: none;
        }
      }

      .sendbird-incoming-og-message__og-tag--disabled {
        &:hover {
          cursor: not-allowed !important;
        }
      }
      .sendbird-incoming-og-message__og-tag {
        padding: 8px 12px 12px 12px;
        border-radius: 0px 0px 16px 16px;
        text-align: left;
        box-sizing: border-box;
        width: 320px;
        @include themed() {
          background-color: t(bg-1);
        }
        .sendbird-incoming-og-message__og-tag__title {
          max-height: 150px; // text line limit: 10
          overflow-y: hidden;
          margin-bottom: 4px;
        }
        .sendbird-incoming-og-message__og-tag__description {
          margin-bottom: 8px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .sendbird-incoming-og-message__og-tag__url {
          .sendbird-incoming-og-message__og-tag__url__label {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: inline-block;
            width: 296px;
          }
        }
        .sendbird-incoming-og-message__og-tag__emoji-reactions--wrapper {
          &:focus {
            outline: none;
          }
          .sendbird-incoming-og-message__og-tag__emoji-reactions {
            margin: 8px -12px -12px -12px;
            @include themed() {
              border: 1px solid t(bg-1);
            }
            &:hover {
              cursor: default;
            }
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
    .sendbird-incoming-og-message--right-padding {
      position: relative;
      width: 68px;

      .sendbird-incoming-og-message__sent-at {
        position: absolute;
        bottom: 4px;
        left: 4px;
      }
      .sendbird-incoming-og-message__more {
        position: absolute;
        top: 18px;
        left: 4px;
        display: none;
      }
    }
  }
}
