@import '../../../styles/variables';

.sendbird-welcome {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  font-family: var(--sendbird-font-family-default);;
  @include themed() {
    background-color: t(bg-8);
    color: t(on-bg-1);
  }
}

.sendbird-welcome__content {
  text-align: center;
}

.sendbird-welcome__dependencies {
  max-height: 200px;
  overflow-y: scroll;
  text-align: left;
}

.sendbird-integrated-sample-app {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.sendbird-integrated-sample-app .integrated-app-theme--light {
  background-color: var(--sendbird-light-background-50);
}
.sendbird-integrated-sample-app .integrated-app-theme--dark {
  background-color: var(--sendbird-dark-background-600);
}

.sendbird-integrated-sample-app__title {
  position: relative;
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  @include mobile() {
    height: 80px;
  }
}

.sendbird-integrated-sample-app__moderations {
  position: relative;
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include themed() {
    background-color: t(bg-1);
  }
}

// components

// option item
.sendbird-integrated-sample-app__moderations__option {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: fit-content;
  margin-bottom: 10px;
  padding-bottom: 12px;
  @include themed() {
    border-bottom: 1px solid t(on-bg-1);
  }
  @include mobile() {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}
.sendbird-integrated-sample-app__moderations__option--toggle {
  @include mobile() {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between
  }
  .sendbird-integrated-sample-app__moderations__option__name,
  .sendbird-integrated-sample-app__moderations__option__input {
    @include mobile() {
      width: auto;
    }
  }
  .sendbird-integrated-sample-app-toggle-button {
    text-align: right;
  }
}
.sendbird-integrated-sample-app__moderations__option__name {
  width: 140px;
  @include mobile() {
    width: 100%;
  }
}
.sendbird-integrated-sample-app__moderations__option__input {
  margin-left: 20px;
  @include mobile() {
    width: 100%;
    margin-left: 0px;
  }
}

.sendbird-integrated-app-submit-area {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  margin: 16px 0px;
}

// text input
.sendbird-integrated-sample-app-text-input {
  width: 300px;
  height: 24px;
}
// toggle button
.sendbird-integrated-sample-app-toggle-button {
  &:hover {
    cursor: pointer;
  }
}
.sendbird-integrated-sample-app-multiple-buttons {
  display: flex;
  gap: 6px;
}
