@import '../../styles/variables';

.sendbird-quote-message {
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  flex-direction: column;
  &.incoming { align-items: flex-start; }
  &.outgoing { align-items: flex-end; }
  max-width: 400px;

  .sendbird-quote-message__replied-to {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: 16px;
    padding: 0px 12px;
    .sendbird-quote-message__replied-to__icon {
      position: relative;
      margin-bottom: 4px;
      margin-right: 4px;
    }
    .sendbird-quote-message__replied-to__text {
      position: relative;
      max-width: 360px;
      overflow: hidden;
      overflow-x: hidden;
      white-space: nowrap;
      word-break: keep-all;
      text-overflow: ellipsis;
      font-size: 12px;
    }
  }

  .sendbird-quote-message__replied-message {
    position: relative;
    display: inline-flex;
    opacity: 0.5;

    // text message
    .sendbird-quote-message__replied-message__text-message {
      position: relative;
      white-space: pre-wrap;
      word-break: break-all;
      font-size: 12px;
      padding: 8px 12px 16px 12px;
      border-radius: 16px;
      @include themed() {
        background-color: t(bg-1);
      }
      .sendbird-quote-message__replied-message__text-message__word {
        max-height: 32px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    // thumbnail message
    .sendbird-quote-message__replied-message__thumbnail-message {
      position: relative;
      width: 144px;
      height: 108px;
      border-radius: 6.4px;
      overflow: hidden;
      @include themed() {
        background-color: t(bg-1);
      }
      .sendbird-quote-message__replied-message__thumbnail-message__video {
        position: absolute;
        top: 0px;
        display: inline-flex;
        width: 100%;
        height: 100%;
      }
      .sendbird-quote-message__replied-message__thumbnail-message__placeholder {
        position: absolute;
        display: inline-flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        .sendbird-quote-message__replied-message__thumbnail-message__placeholder__icon {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 22px;
          height: 22px;
          border-radius: 50%;
        }
      }
      .sendbird-quote-message__replied-message__thumbnail-message__cover {
        position: absolute;
        display: inline-flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        top: 0px;
        background-color: rgba(256, 256, 256, 0.4);
        .sendbird-quote-message__replied-message__thumbnail-message__cover__icon {
          position: relative;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background-color: rgba(256, 256, 256, 1);
        }
      }
    }
    // file message
    .sendbird-quote-message__replied-message__file-message {
      position: relative;
      display: inline-flex;
      flex-direction: row;
      font-size: 12px;
      padding: 8px 12px 16px 12px;
      border-radius: 16px;
      @include themed() {
        background-color: t(bg-1);
      }
      .sendbird-quote-message__replied-message__file-message__type-icon {
        margin-right: 2px;
      }
      .sendbird-quote-message__replied-message__file-message__file-name {

      }
    }
  }
}
