@import '../../styles/variables';

.sendbird__offline {
  .sendbird-menu-item {
    cursor: not-allowed;
  }
}

.sendbird-menu-item {
  cursor: pointer;
  white-space: nowrap;
  padding: 8px 16px;
  display: flex;

  &.disable {
    cursor: not-allowed;

    &:hover {
      @include themed() {
        background-color: t(bg--0-5);
      }
    }
  }

  &:hover {
    @include themed() {
      background-color: t(bg--1-4);
    }
  }
}

.sendbird-menu-item>* {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sendbird-menu-item__text {
  display: flex;
  justify-content: space-between;
}
