.profile-container__outgoing {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: flex-end;
  width: 50px;
  &.use-reactions { width: 70px }
  &.use-quote {
    .profile-menu {
      top: 18px;
    }
  }

  .profile-menu {
    position: absolute;
    top: 2px;
    right: 4px;
    flex-direction: row;
    display: none;
    &.sendbird-mouse-hover {
      display: inline-flex;
    }
  }
}

.profile-container__incoming {
  position: relative;
  display: inline-flex;
  min-width: 40px;

  .profile-container__avatar {
    position: absolute;
    left: 0px;
    bottom: 2px;
  }
  .profile-container__avatar.use-thread-replies {
    bottom: 35px;
  }
}


