/**
 * We operate the CSS files for Channel&GroupChannel modules in the GroupChannel.
 * So keep in mind that you should consider both components when you make changes in this file.
 */
@import '../../../../styles/variables';

.sendbird-fileviewer__header__right__actions__download,
.sendbird-fileviewer__header__right__actions__delete,
.sendbird-fileviewer__header__right__actions__close {
  width: 64px;
  padding: 21px;
  box-sizing: border-box;
  cursor: pointer;
  .disabled {
    cursor: not-allowed;
  }
}

.sendbird-fileviewer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  @include themed() {
    background-color: t(bg-0);
  }

  .sendbird-fileviewer__header {
    height: 64px;
    min-height: 64px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    @include mobile() {
      position: relative;
    }
    @include themed() {
      border-bottom: 1px solid t(on-bg-4);
    }

    .sendbird-fileviewer__header__left {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 64px;
      padding: 16px 20px;

      .sendbird-fileviewer__header__left__avatar {
        margin-right: 8px;
      }

      .sendbird-fileviewer__header__left__filename {
        max-width: 500px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        @include mobile() {
          position: absolute;
          left: 64px;
          top: 10px;
          display: block;
          max-width: calc(100vw - 240px);
        }
      }

      .sendbird-fileviewer__header__left__sender-name {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-flex;
        margin-left: 8px;
        padding-top: 5px;
        @include mobile() {
          position: absolute;
          left: 56px;
          top: 24px;
        }
      }
    }

    .sendbird-fileviewer__header__right {
      display: flex;
      width: 160px;
      justify-content: flex-end;

      .sendbird-fileviewer__header__right__actions {
        right: 0;
        display: flex;
        flex-direction: row;
      }
      .sendbird-fileviewer__header__right__actions__close {
        @include themed() {
          border-left: 1px solid t(on-bg-4);
        }
      }
    }
  }

  .sendbird-fileviewer__content {
    height: calc(100% - 72px);
    margin-top: 4px;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .sendbird-fileviewer__content__video {
      max-width: 100%;
      max-height: 100%;
    }
    .sendbird-fileviewer__content__img {
      max-width: 90%;
      max-height: 90%;
    }
    .sendbird-fileviewer__content__unsupported {
      max-width: 100%;
      max-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
