@import '../../styles/variables';

.sendbird-word {
  white-space: break-spaces;
  .sendbird-word__mention {
    display: inline-block;
    &:hover {
      cursor: pointer;
    }
    &.sendbird-word__mention--me {
      @include themed() {
        background-color: t(highlight--1);
      }
      .sendbird-label {
        @include themed() {
          color: t(on-information-1);
        }
      }
    }
  }
}
