@import '../../styles/variables';

.sendbird-openchannel-app {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  .sendbird-openchannel-app__channellist {
    max-width: 320px;
    @include themed() {
      border-top: 1px solid t(on-bg-4--bg-6);
      border-left: 1px solid t(on-bg-4--bg-6);
      border-bottom: 1px solid t(on-bg-4--bg-6);
    }
  }

  .sendbird-openchannel-app__channel {
    flex: 1;
    position: relative;
    width: calc(100% - 320px);
  }
  .sendbird-openchannel-app__settings {
    position: relative;
    top: 0px;
    right: 0px;
    height: 100%;
  }
}
