@import '../../styles/variables';

.sendbird-message-search-pannel {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100%;
  box-sizing: border-box;
  @include themed() {
    background-color: t(bg-0);
  }
  @include mobile() {
    width: 100%;
  }

  .sendbird-message-search-pannel__input__container__input-area {
    position: absolute;
    top: 14px;
    left: 48px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: none;
    font-size: 14px;
    width: calc(100% - 90px);
    @include themed() {
      color: t(on-bg-1);
      background-color: t(bg-0);
    }
  }

  .sendbird-message-search-pannel__header {
    .sendbird-ui-header__middle__title {
      margin-left: 4px;
    }
  }

  .sendbird-message-search-pannel__input {
    display: flex;
    position: relative;
    padding: 16px;
    box-sizing: border-box;

    .sendbird-message-search-pannel__input__container {
      position: relative;
      border-radius: 4px;
      width: 100%;
      height: 44px;
      @include themed() {
        border: 1px solid t(on-bg-3);
      }

      .sendbird-message-search-pannel__input__container__search-icon {
        position: absolute;
        top: 10px;
        left: 16px;
      }
      .sendbird-message-search-pannel__input__container__spinner {
        position: absolute;
        top: 12px;
        right: 12px;
      }
      .sendbird-message-search-pannel__input__container__reset-input-button {
        position: absolute;
        top: 12px;
        right: 12px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .sendbird-message-search-pannel__message-search {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
  }
}
