@import '../../../../styles/variables';

.sendbird-parent-message-info {
  position: relative;
  width: 100%;
  height: fit-content;

  padding: 12px 12px 12px 16px;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}

// left
.sendbird-parent-message-info__sender {
  position: relative;
  min-width: 40px;
  min-height: 40px;
}

// right
.sendbird-parent-message-info__content {
  position: relative;
  margin-left: 12px;

  display: inline-flex;
  flex-direction: column;
}

.sendbird-parent-message-info__content__info {
  position: relative;
  max-width: 188px;
  height: 16px;

  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.sendbird-parent-message-info__content__info__sender-name
, .sendbird-parent-message-info__content__info__sender-name--use-reaction {
  position: relative;
  margin-right: 6px;

  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sendbird-parent-message-info__content__info__sender-name {
  max-width: 142px;
}
.sendbird-parent-message-info__content__info__sender-name--use-reaction {
  max-width: 110px;
}
.sendbird-parent-message-info__content__info__sent-at {
  position: relative;
  max-width: 52px;
  height: 12px;

  display: inline-flex;
  justify-content: flex-start;
  align-items: center;

  white-space: nowrap;
  word-break: keep-all;
}

// message content body
.sendbird-parent-message-info__content__body {
  position: relative;
  max-width: 210px;

  overflow: hidden;
}

.sendbird-parent-message-info__content__body.sendbird-thumbnail-message-item-body.incoming {
  min-width: 200px;
  height: 148px;
}

.sendbird-parent-message-info__content__reactions {
  position: relative;
  max-width: 240px;
  width: 100%;
  height: 100%;
}

.sendbird-parent-message-info__context-menu {
  position: absolute;
  top: 6px;
  right: 12px;
  display: none;
}
.sendbird-parent-message-info__context-menu.use-reaction {
  right: 44px;
}
.sendbird-parent-message-info__reaction-menu {
  position: absolute;
  top: 6px;
  right: 12px;
  display: none;
}

.sendbird-parent-message-info .sendbird-text-message-item-body.reactions {
  border-radius: 16px;
}
.sendbird-parent-message-info .sendbird-emoji-reactions {
  @include themed() {
    border: 1px solid t(bg-0);
  }
}

// display menus
.sendbird-parent-message-info:hover .sendbird-parent-message-info__context-menu,
.sendbird-parent-message-info:hover .sendbird-parent-message-info__reaction-menu,
.sendbird-parent-message-info__context-menu.sendbird-mouse-hover,
.sendbird-parent-message-info__reaction-menu.sendbird-mouse-hover {
  display: inline-flex;
}

// background color
.sendbird-parent-message-info .sendbird-parent-message-info__content__body {
  @include themed() {
    background-color: t(bg-0);
  }
}
.sendbird-parent-message-info:hover,
.sendbird-parent-message-info:hover .sendbird-parent-message-info__content__body {
  @include themed() {
    background-color: t(bg-1);
  }
}
.sendbird-parent-message-info:hover .sendbird-emoji-reactions {
  @include themed() {
    border: 1px solid t(bg-1);
    background-color: t(bg-1);
  }
}

// SuggestedMentionList
.parent-message-info--suggested-mention-list {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  min-height: 200px;
}
.parent-message-info--suggested-mention-list .sendbird-mention-suggest-list__user-item {
  padding-left: 16px;
  padding-right: 16px;
}
.parent-message-info--suggested-mention-list .sendbird-mention-suggest-list__user-item .sendbird-mention-suggest-list__user-item__nickname {
  max-width: 166px;
}
.parent-message-info--suggested-mention-list .sendbird-mention-suggest-list__user-item .sendbird-mention-suggest-list__user-item__user-id {
  max-width: 68px;
}
