@import '../../styles/variables';

.sendbird-template-message-item-body {
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  background-color: transparent;
  white-space: pre-line;
  word-break: break-word;

  &.reactions {
    border-radius: 16px 16px 0px 0px;
  }
}
