@import '../../../../styles/variables';

.sendbird-channel-list {
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  @include themed() {
    background-color: t(bg-0);
  }
}

.sendbird-channel-list__header {
  height: 64px;
  min-height: 64px;
}

.sendbird-channel-list__body {
  flex: 1 1 0;
  -ms-flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
