@import '../../styles/variables';

.sendbird-theme--light {
  --form__chip__color__selected-focus: var(--sendbird-light-primary-300);
  --form__chip__color__submitted-default: var(--sendbird-light-onlight-02);
  
  --form__chip__bg-color__default: var(--sendbird-light-background-50);
  --form__chip__bg-color__selected: var(--sendbird-light-primary-100);
  --form__chip__bg-color__selected-hover: var(--sendbird-light-background-50);
  --form__chip__bg-color__selected-focus: var(--sendbird-light-background-50);
  --form__chip__bg-color__submitted-default: var(--sendbird-dark-ondark-02);
  --form__chip__bg-color__submitted-selected: var(--sendbird-dark-ondark-02);
  
  --form__chip__bd-color__default-focus: var(--sendbird-light-primary-300);
  --form__chip__bd-color__selected-focus: var(--sendbird-light-primary-300);
  
  --form__submitted-input-box__color: var(--sendbird-dark-onlight-01);
  --form__submitted-input-box__bg-color: var(--sendbird-dark-ondark-02);
  
  --form__submit-button__color__disabled: var(--sendbird-light-background-50);
  --form__submit-button__bg-color__disabled: var(--sendbird-light-onlight-04);
}

.sendbird-theme--dark {
  --form__chip__color__selected-focus: var(--sendbird-dark-ondark-02);
  --form__chip__color__submitted-default: var(--sendbird-dark-ondark-04);
  
  --form__chip__bg-color__default: var(--sendbird-light-onlight-03);
  --form__chip__bg-color__selected: var(--sendbird-dark-background-600);
  --form__chip__bg-color__selected-hover: var(--sendbird-light-onlight-03);
  --form__chip__bg-color__selected-focus: var(--sendbird-light-onlight-03);
  --form__chip__bg-color__submitted-default: var(--sendbird-light-onlight-04);
  --form__chip__bg-color__submitted-selected: var(--sendbird-light-onlight-04);
  
  --form__chip__bd-color__default-focus: var(--sendbird-dark-ondark-02);
  --form__chip__bd-color__selected-focus: var(--sendbird-dark-ondark-02);
  
  --form__submitted-input-box__color: var(--sendbird-dark-ondark-01);
  --form__submitted-input-box__bg-color: var(--sendbird-light-onlight-04);
  
  --form__submit-button__color__disabled: var(--sendbird-light-onlight-01);
  --form__submit-button__bg-color__disabled: var(--sendbird-dark-ondark-04);
}

.sendbird-form-message__submit-button {
  width: 100%;
  
  &.sendbird-button__disabled {
    cursor: not-allowed;
    &.sendbird-button--primary .sendbird-button__text {
      color: var(--form__submit-button__color__disabled);
    }
    @include themed() {
      background-color: var(--form__submit-button__bg-color__disabled);
      border: none;
      &:hover {
        background-color: var(--form__submit-button__bg-color__disabled);
      }
    }
  }
}

.sendbird-form-message__input__label {
  line-height: 14px;
  display: block;
  margin: 0;
  font-weight: 500;
}

.sendbird-form-message__input__title-container {
  display: inline-block;
}

.sendbird-form-message__input__container {
  width: 100%;
  position: relative;
}

.sendbird-form-message__input__title-optional {
  @include themed() {
    color: t(inverse-on-content-3);
  }
}

.sendbird-form-message__input__root {
  padding-bottom: 12px;
  width: 100%;
  font-family: var(--sendbird-font-family-default);
}

.sendbird-form-message__input__textarea {
  display: block; // Without this, parent height does not fit this height.
  ::placeholder {
    @include themed() {
      color: t(inverse-on-content-3);
    }
  }
  resize: none;
  height: 96px !important;
  padding: 7px 12px !important;
}

.sendbird-form-message__error-label {
  margin-top: 4px;
  color: var(--sendbird-light-error-300);
}

.sendbird-form-message__submitted-input-box-text {
  width: calc(100% - 24px);
  line-height: 20px;
}

.sendbird-form-message__root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 12px;
  @include mobile() {
    max-width: calc(100vw - 164px); // max-width of .sendbird-message-content__middle minus side padding (12px)
  }
  min-width: calc(244px - 24px);
  border-radius: 16px;
  overflow: hidden;
}

.sendbird-form-message__input__chip-container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 4px;
  flex-wrap: wrap;
}


.sendbird-form-message__submitted-check-icon-chip {
  margin-left: 4px;
}

.sendbird-form-message__submitted-check-icon-container {
  display: flex;
  height: auto;
  align-items: flex-end;
}

.sendbird-form-message__submitted-input-box {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  display: flex;
  word-wrap: break-word;
  width: calc(100% - 24px);
  color: var(--form__submitted-input-box__color);
  background-color: var(--form__submitted-input-box__bg-color);
  border: none;
  pointer-events: none;
  border-radius: 4px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  padding: 8px 12px;
  min-height: 20px;
  &.textarea {
    padding: 9px 12px;
    min-height: 78px;
  }
}

.sendbird-form-message__input__chip-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  letter-spacing: normal;
}

.sendbird-form-message__input__chip {
  border-radius: 100px;
  padding: 5px 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: calc(100% - 32px);
  
  &.default {
    @include themed() {
      color: t(on-bg-2);
      border: 1px solid t(on-bg-4);
      cursor: pointer;
      background-color: var(--form__chip__bg-color__default);
      &:hover {
        color: t(primary--3-2);
        border: 1px solid t(primary--3-2);
      }
      &:focus {
        color: t(on-bg-2);
        border: 1px solid var(--form__chip__bd-color__default-focus);
        outline: none;
        box-shadow: 0 0 0 1px var(--form__chip__bd-color__default-focus);
      }
    }
  }
  &.selected {
    @include themed() {
      color: t(primary--3-2);
      background-color: var(--form__chip__bg-color__selected);
      border: 1px solid t(primary--3-2);
      cursor: pointer;
      &:hover {
        color: t(primary--3-2);
        background-color: var(--form__chip__bg-color__selected-hover);
        border: 1px solid t(primary--3-2);
      }
      &:focus {
        color: var(--form__chip__color__selected-focus);
        background-color: var(--form__chip__bg-color__selected-focus);
        border: 1px solid var(--form__chip__bd-color__selected-focus);
        outline: none;
        box-shadow: 0 0 0 1px var(--form__chip__bd-color__selected-focus);
      }
    }
  }
  &.submittedDefault {
    border: none;
    cursor: default;
    padding: 6px 12px;
    @include themed() {
      color: var(--form__chip__color__submitted-default);
      background-color: var(--form__chip__bg-color__submitted-default);
    }
  }
  &.submittedSelected {
    border: none;
    cursor: default;
    padding: 6px 12px;
    @include themed() {
      color: t(on-bg-1);
      background-color: var(--form__chip__bg-color__submitted-selected);
    }
  }
}
