@import '../../styles/variables';

.sendbird-place-holder {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .sendbird-place-holder__body {
    display: flex;
    flex-direction: column;
    height: 104px;
    align-items: center;

    .sendbird-place-holder__body__icon {
      margin-bottom: 10px;
    }

    .sendbird-place-holder__body__text {
      margin-top: 10px;
    }
  }

  .sendbird-place-holder__body__reconnect {
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    cursor: pointer;

    .sendbird-place-holder__body__reconnect__icon {
      margin-right: 4px;
    }
  }

  .sendbird-place-holder__body--align-top {
    position: absolute;
    top: 24px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;

    .sendbird-place-holder__body--align-top__text {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-left: 16px;
      padding-right: 16px;

      .sendbird-place-holder__body--align-top__text__search-in {
        display: flex;
        min-width: 60px;
        margin-right: 2px;
      }

      .sendbird-place-holder__body--align-top__text__channel-name {
        display: block;
        max-width: calc(100% - 62px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .sendbird-place-hlder__body--align-top__searching,
    .sendbird-place-hlder__body--align-top__no-result
    {
      display: flex;
      justify-content: center;
    }
  }
}
