@import '../../styles/variables';

.sendbird-image-grid-wrap {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.sendbird-image-grid {
  border-radius: 12px;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(2, 1fr);
  padding: 4px;
  width: fit-content;
  @include themed() {
    background-color: t(bg-1);
  }

  &.reactions {
    border-radius: 12px 12px 0 0;
  }
}
