@import "../../../styles/variables";

.sendbird-conversation {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;

  @include themed() {
    background-color: t(bg-0);
    border: 1px solid t(on-bg-4);
  }
}

.sendbird-conversation__messages {
  overflow-y: auto;
  flex: 1 1 0;
  order: 2;
}

.sendbird-conversation__messages-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}

@keyframes sbHighlight {
  0% {
    background-color: #fff2b6;
  }

  99% {
    background-color: #fff2b6;
  }
}

@keyframes sbTextHighlight {
  0% {
    color: var(--sendbird-dark-onlight-01);
  }

  99% {
    color: var(--sendbird-dark-onlight-01);
  }
}

@keyframes sbHighlightBlock {
  0% {
    opacity: 0.5;
    background-color: #fff2b6;
  }

  99% {
    opacity: 0.5;
    background-color: #fff2b6;
  }
}

.sendbird-msg-hoc__animated {
  .sendbird-text-message-item-body,
  .sendbird-file-message-item-body {
    animation-name: sbHighlight;
    animation-duration: 1.6s;
    animation-fill-mode: forwards;
  }

  .sendbird-text-message-item-body__message,
  .sendbird-file-message-item-body__file-name__text {
    animation-name: sbTextHighlight;
    animation-duration: 1.6s;
    animation-fill-mode: forwards;
  }

  .sendbird-thumbnail-message-item-body .sendbird-thumbnail-message-item-body__image-cover {
    display: block;
    animation-name: sbHighlightBlock;
    animation-duration: 1.6s;
    animation-fill-mode: forwards;
  }

  .sendbird-og-message-item-body .sendbird-og-message-item-body__cover {
    display: block;
    animation-name: sbHighlightBlock;
    animation-duration: 1.6s;
    animation-fill-mode: forwards;
  }
}

.sendbird-conversation__scroll-container {
  display: flex;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;

  .sendbird-conversation__padding {
    flex: 1 1 0;
  }
}

.sendbird-conversation__footer {
  position: relative;
  order: 3;
  padding: 0 24px 24px 24px;

  .sendbird-conversation__typing-indicator {
    position: absolute;
    bottom: 8px;
  }
}
