@import '../../../styles/variables';

.sendbird-message {
  position: relative;
  line-height: 0;
  &--outgoing {
    text-align: right;
  }
  &--incoming {
    text-align: left;
  }
}

.sendbird-user-message--copy {
  cursor: pointer !important;
}

.sendbird-user-message--outgoing {
  position: relative;
  right: 0px;
  display: inline-block;
  max-width: 496px;
  text-align: right;

  &:hover {
    .sendbird-user-message__text-balloon {
      .sendbird-user-message__text-balloon__inner {
        @include themed() {
          background-color: t(primary-4);
        }
        .sendbird-user-message__text-balloon__inner__emoji-reactions {
          @include themed() {
            border: solid 1px t(primary-4);
          }
        }
      }
    }
    .sendbird-user-message__left-padding {
      .sendbird-user-message__more {
        display: block;
      }
    }
  }

  .sendbird-user-message--inner {
    display: flex;
    flex-direction: row;
  }

  .sendbird-user-message__left-padding {
    position: relative;
    width: 68px;
    .sendbird-user-message__more {
      display: none;
      position: absolute;
      right: 4px;
      top: 2px;

      &[class*='--pressed'] {
        display: block !important;
      }
    }
    .sendbird-user-message__status {
      position: absolute;
      bottom: 2px;
      right: 4px;
    }
  }

  .sendbird-user-message__text-balloon {
    max-width: var(--sendbird-message-balloon-width);
    box-sizing: border-box;
    text-align: left;
    
    .sendbird-user-message__text-balloon__inner {
      border-radius: 16px;
      @include themed() {
        background-color: t(primary-3);
        color: t(on-content-1);
      }
      display: flex;
      flex-direction: column;

      .sendbird-user-message__text-balloon__inner__text-place {
        padding: 8px 12px;

        .sendbird-user-message__text-balloon__inner__text-place__text {
          display: inline;
          white-space: pre-wrap;
          overflow-wrap: normal;
        }
      }

      .sendbird-user-message__text-balloon__inner__emoji-reactions {
        position: relative;
        bottom: 0px;
        @include themed() {
          border: solid 1px t(primary-3);
        }
      }
    }
  }
}

.sendbird-user-message--incoming {
  position: relative;
  left: 0px;
  display: inline-block;
  padding-left: 40px;
  max-width: 536px;
  text-align: left;

  &:hover {
    .sendbird-user-message__text-balloon {
      .sendbird-user-message__text-balloon__inner {
        @include themed() {
          background-color: t(bg-2);
        }
        .sendbird-user-message__text-balloon__inner__emoji-reactions {
          @include themed() {
            border: solid 1px t(bg-2);
          }
        }
      }
    }
    .sendbird-user-message__right-padding {
      .sendbird-user-message__more {
        display: block;
      }
      .sendbird-user-message__sent-at {
        display: none;
      }
    }
  }

  .sendbird-user-message--inner {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .sendbird-user-message--body {
    display: flex;
    flex-direction: column;
  }

  .sendbird-user-message__right-padding {
    position: relative;
    width: 68px;
    .sendbird-user-message__sent-at {
      position: absolute;
      left: 4px;
      bottom: 2px;
    }

    .sendbird-user-message__more {
      position: absolute;
      display: none;
      left: 4px;
    }
  }

  .sendbird-user-message__avatar {
    position: absolute;
    bottom: 4px;
    left: -40px;
    cursor: pointer;
  }

  .sendbird-user-message__sender-name {
    margin-left: 12px;
    margin-bottom: 4px;
  }

  .sendbird-user-message__text-balloon {
    margin-top: 4px;
    max-width: var(--sendbird-message-balloon-width);

    .sendbird-user-message__text-balloon__inner {
      border-radius: 16px;
      display: inline-block;
      flex-direction: column;
      box-sizing: content-box;
      @include themed() {
        background-color: t(bg-1);
      }

      .sendbird-user-message__text-balloon__inner__text-place {
        padding: 8px 12px;

        .sendbird-user-message__text-balloon__inner__text-place__text {
          display: inline;
          white-space: pre-wrap;
          overflow-wrap: normal;
          @include themed() {
            color: t(on-bg-1)
          }
        }
      }

      .sendbird-user-message__text-balloon__inner__emoji-reactions {
        position: relative;
        bottom: 0px;
        width: 100%;
        @include themed() {
          border: solid 1px t(bg-1);
        }
      }
    }
  }
}

.sendbird-user-message__text-balloon__inner__text-place__text {
  word-break: break-word;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sendbird-user-message__text-balloon {
  display: inline-block;
}

.sendbird-user-message-word {
  display: inline;
  margin: 0px 2px;
}
