@import '../../styles/variables';

.sendbird-dropdown {
  position: relative;
  display: inline-block;

  .sendbird-dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 140px;
    margin: 0px;
    padding: 8px 0px;
    border-radius: 4px;
    list-style: none;
    @include themed() {
      box-shadow: t(shadow-gradient-2);
      background-color: t(bg--0-5);
    }

    .sendbird-dropdown__menu-item {
      cursor: pointer;
      white-space: nowrap;
      padding: 8px 16px;

      &:hover {
        @include themed() {
          background-color: t(bg--1-4);
        }
      }
    }
  }
}