@import '../../styles/variables';

.sendbird-avatar {
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  position: relative;

  &:focus {
    outline: none;
  }

  .sendbird-avatar-img {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    @include themed() {
      background-color: t(bg--3-3);
    }
  }

  .sendbird-avatar--inner__two-child {
    .sendbird-avatar-img {
      &:first-child {
        transform: translate(2%, -50%);
      }

      &:last-child {
        transform: translate(-102%, -50%);
      }
    }
  }

  .sendbird-avatar--inner__three-child--upper {
    .sendbird-avatar-img {
      &:first-child {
        transform: translate(-50%, -102%);
      }
    }
  }

  .sendbird-avatar--inner__three-child--lower {
    .sendbird-avatar-img {
      &:first-child {
        transform: translate(-77%, -23%) scale(0.5);
      }

      &:last-child {
        transform: translate(-23%, -23%) scale(0.5);
      }
    }
  }

  .sendbird-avatar--inner__four-child {
    .sendbird-avatar-img {
      &:first-child {
        transform: translate(-77%, -77%) scale(0.5);
      }

      &:nth-child(2) {
        transform: translate(-23%, -77%) scale(0.5);
      }

      &:nth-child(3) {
        transform: translate(-77%, -23%) scale(0.5);
      }

      &:last-child {
        transform: translate(-23%, -23%) scale(0.5);
      }
    }
  }

  .sendbird-avatar-img--default {
    align-items: center;
    display: flex;
    justify-content: center;
    @include themed() {
      background-color: t(bg--3-3);
    }
  }
  
  .sendbird-avatar-text {
    font-family: Roboto;
    font-size: 8px;
    font-style: normal;
    font-weight: bold;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    @include themed() {
      color: t(on-bg-2);
    }
  }
}
