/*
  We are sharing the same CSS file
  * the same components
    1. `~/modules/GroupChannelList/components/GroupChannelListItem`
    2. `~/modules/ChannelList/components/ChannelPreview`
  So must to keep the same structure with the component when you make a change on the one component of them
*/
